.width_100{
  width: 100%;
  border: 1px solid black;
}
table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-collapse: collapse;
  text-align: center;
}
.bg_cl{
  background-color: #fcefc5 !important;
}